.calendar {
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
padding: 20px;
border-radius: 30px;
background-color: white;
--tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
--tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.header {
display: flex;
justify-content: center;
margin-bottom: 20px;
width: 100%;
display: flex;
justify-content: space-around;
align-items: center;
}

.header p {
    background-color: #320000;
    padding: 10px 15px 10px 15px;
    border-radius: 6px;
    color: white;
    text-align: center;
    margin: 0;
    font-weight: 300;
}

.days {
display: flex;
justify-content: center;
margin-bottom: 10px;
color: black;
}

.row {
display: flex;
justify-content: space-between;
}

.col {
width: 60px;
padding: 10px;
text-align: center;
cursor: pointer;

}

.cell-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.cell {
padding: 5px 5px 5px 5px;
display: flex;
justify-content: center;
align-items: center;
height: 50px !important;
width: 55px !important;
color: black;

}

.cell .number{
    font-size: 14px !important;
}

.cell.selected .number {
    background-color: black; 
    color: #fff; 
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}

.cell.disabled {

cursor: not-allowed;
color: #790808 !important;
}

.number {
font-size: 18px;
}


.header button {
background-color: transparent;
color: #320000;
border: none;
padding: 5px 10px;
cursor: pointer;
border-radius: 5px;
transition: all ease-in-out 200ms;
scale: 1.5;
}

.header button:hover {
transform: scale(1.5);
}

.instructor-available {
    font-weight: bold;
    color: #4CAF50;
  }