.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    background-color: black;
}
.caller-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.caller-details p{
    color: white;
}
.caller-details span {
    color: rgb(77, 77, 77);
}
.cam-button{
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-around;
    position: relative;
    top: 30%;
}
.cam-button button{
    background-color: transparent;
    width: 40%;
}