.admin-register-page-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 95%;
    width: 100%;
}

.admin-register-page-left-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.admin-register-page-left-content button{
    background-color: transparent;
    color: #740000;
}

.admin-register-page-left-content button:hover{
    background-color: transparent;
    text-decoration: underline;
}

.admin-register-page-right-content{
    width: 50%;
}

select {
    height: 50px;
    border-radius: 30px;
    border-color: #ccc;
    padding: 8px;
}

select[name="placeholder"]{
    color: #ccc !important;
}