.application-form{
    display: flex;
    flex-direction: column;

}

.modal-dialog {
    max-width: 70% !important;
    width: 70% !important;
}

.modal-header{
    border-bottom: 0 !important;
}
.modal-body {
    border-bottom: 0 !important;

}
.modal-footer{
    border-top: 0 !important;
   background-color:#ECECEC;
}