.admin-userlist-container{
    background-color: #0000001f;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 25px;
    padding: 20px;
    height: 95%;
    max-height: 95%;
    overflow: auto;
}

.userlist-container{
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.userlist-container p {
    margin: 0;
    width: 17%;
}

.onlineStatus{
    background-color: red;
    height:12px;
    width: 12px;
    border-radius: 50%;
}

