
.navbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    z-index: 20;
    padding: 20px;
    color: rgb(132, 0, 255);
    background-color: #360000;
}

.logo-wrapper{
    width: 60%;
}

.nav-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
    justify-content: space-around;
    
}
.nav-links a{
    text-decoration: none;
    color: white;
}

.nav-links p{
    margin: 0;
}

