.admin-appointments-container{
    width: 100%;
}

.appoinments-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.ongoing-requests-container{
    width: 50%;
    padding: 20px;
}

.ongoing-requests{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.ongoing-requests p{
    margin: 0;
}

.accepted-appointments-container{
    width: 50%;
    padding: 20px;
}

.accepted-appointments{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.accepted-appointments p{
    margin: 0;
}