.admin-schedules-page-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5px;
}

.schedules-table {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.schedules-table button {
  
}
.schedules-table table {
  width: 100%;
  border-collapse: collapse;
}

.schedules-table th,
.schedules-table td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 8px;
  
}

.schedules-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  width: 150px;
}

.schedules-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.schedules-table td:hover {
  background-color: #ddd;
  cursor: pointer;
  
}

.schedules-table td {
  height: 40px;
}

.schedules-table td:first-child {
  background-color: #f2f2f2;
  font-weight: bold;
}

.legends-container{
  width: 100%;
  display: flex;
  flex-direction: row; 
  justify-content: space-around;
}

.clickable-cell{
  background-color: rgba(120, 174, 255, 0.767);
}

.selected-cell {
  background-color: #056cc0; 
}