.Sidebar-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.Sidebar-Links {
    width: 80%;
}

.Sidebar-Links p.active {
    opacity: 1;
    font-weight: 500;
  }
  
  .Sidebar-Links p {
    opacity: 0.8;
    font-size: 25px;
  }