.teacher-dashboard-container{
    position: relative;
    top: 100px;
}

.appointments-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    
}
.appoinment-card{
    padding: 10px;
    border: 1px solid gray;
    display: flex;
    justify-content: space-around;
}

.teacher-action {
    display: flex;
    gap: 20px;
}
.action-links{
    display: flex;
    justify-content: space-around;
    width: 200px;
}
.action-links a{
    text-align: center;
    align-items: center;
    width: 40%;
    text-decoration: none;
    color: white;
    background-color: #96a0ff;
    border-radius: 15px;
}